/* Контейнер Address */

.address {
  width: calc((50%-45px) / 2); /* Позиционирование контейнера в футере */
}

.address__item {
  margin-bottom: 9px;
}

.mail-phone-footer {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}
