/* Модальное окно - Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--dark-bg-text-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  padding: 40px;
  z-index: 50;

  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

/* Кнопка Закрыть */

.modal__button-close {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-text-color);
  fill: #000000;
}

&:hover .modal__icon-close,
&:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal__icon-close {
  fill: #000000;
  transition: fill var(--animation);
}
